html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #pink {
    background: rgb(235, 124, 142);
  }
  
  #red {
    background: rgba(255, 0, 0, 0.904);
  }
  #blue {
    background: blue;
  }
  #orange {
    background: rgb(255, 81, 0);
  }
  